<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/font-awesome-4.7.0/css/font-awesome.min.css'/>
    <link rel='stylesheet' href="/stylesheets/adminNoteManagement.css"/>
    <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
    <script src="/lib/jquery-3.1.1.min.js"></script>
    <script src="/lib/layer-v3.1.1/layer-v3.1.1/layer/layer.js"></script>
    <script src="/font_alibaba_1.0/iconfont.js"></script>
    <script src="/lib/layui/layui.js"></script>
  </head>
  <body>
    <input id="curPage" type="hidden" value="<%= data.curPage %>">
    <input id="layid" type="hidden" value="<%= data.layid %>">
    <div class="top">
        <div class="left">
            <div id="back" class="back">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-fanhui"></use>
                </svg>
            </div>
        </div>
        <div class="right">
            <div id="deleteMany" class="deleteMany">
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-piliangshanchu"></use>
                </svg>
              </div>
              <div class="user">
                  <%= admin.aname + " (" + admin.ano + ")" %>
              </div>
        </div>
    </div>
    <div class="container">
        <div class="layui-tab layui-tab-brief" lay-filter="noteManagement">
            <ul class="layui-tab-title">
              <li class="layui-this" lay-id="0"><span>学生</span></li>
              <li lay-id="1"><span>教师</span></li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="guide">
                        <input class="check" type="checkbox" name="allNote">
                        <div class="index">序号</div>
                        <div class="title">标题</div>
                        <div class="author">作者</div>
                        <div class="class">班级</div>
                        <div class="time">最后修改时间</div>
                        <div class="zhanwei"></div>
                    </div>
                    <div class="content">
                        <% if (data.layid == 0) { %>
                        <%  data.list.map(function (item, index){ %>
                            <div class="item">
                                <input id="select_<%= item.id %>" class="check" type="checkbox" name="noteSelect" value="<%= item.id %>" onclick="noteBoxCheck(this)">
                                <div class="index"><%= index + 1 %></div>
                                <div class="title"><%= item.title %></div>
                                <div class="author"><%= item.author %></div>
                                <div class="class"><%= item.class %></div>
                                <div class="time"><%= item.time %></div>
                            </div>
                        <%  }) %>
                        <% } %>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="guide">
                        <input class="check" type="checkbox" name="allSubmitted">
                        <div class="t_index">序号</div>
                        <div class="t_title">标题</div>
                        <div class="t_author">作者</div>
                        <div class="t_class">班级</div>
                        <div class="t_teacher">所属教师</div>
                        <div class="t_time">上交时间</div>
                        <div class="t_zhanwei"></div>
                    </div>
                    <div class="content">
                        <% if (data.layid == 1) { %>
                        <%  data.list.map(function (item, index){ %>
                            <div class="item">
                                <input id="select_<%= item.id %>" class="check" type="checkbox" name="submittedSelect" value="<%= item.id %>" onclick="submittedBoxCheck(this)">
                                <div class="t_index"><%= index + 1 %></div>
                                <div class="t_title"><%= item.title %></div>
                                <div class="t_author"><%= item.author %></div>
                                <div class="t_class"><%= item.class %></div>
                                <div class="t_teacher"><%= item.teacher %></div>
                                <div class="t_time"><%= item.time %></div>
                            </div>
                        <%  }) %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>      
    </div>
    <div class="bottom">
        <ul>
            <% var pre = data.curPage - 1 > 0 ? data.curPage - 1 : data.curPage;%>
            <% var next = data.curPage + 1 > data.toal ? data.curPage : parseInt(data.curPage) + 1;%>
            <li><a <% if (data.curPage > 1) { %> href="/admin/noteManagement?layid=<%= data.layid %>&page=<%= pre %>" <% } %> ><</a></li>
            <% if (data.total > 0)  { %>
                <%  if (data.total <= 10) { %>
                    <% for (var i = 1; i <= data.total; i++) { %>
                        <li><a href="/admin/noteManagement?layid=<%= data.layid %>&page=<%= i %>"  <% if (data.curPage == i) { %> class="active" <% } %> > <%= i %> </a></li>
                    <% } %>
                <% } %>
            <% } %>
            <li><a <% if (data.curPage < data.total) { %> href="/admin/noteManagement?layid=<%= data.layid %>&page=<%= next %>" <% } %> >></a></li>
        </ul>
    </div>
  </body>
  <script src="/javascripts/adminNoteManagement.js"></script>
</html>
